{
  "plugins": [ "cypress"],
  "extends": ["next", "next/core-web-vitals", "plugin:cypress/recommended"],
  "env": {
    "cypress/globals": true
  },
  "rules": {
    "react-hooks/exhaustive-deps": "off"
  }
}
